<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pumpit.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/pump_it_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pump_it_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionAndStatusBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.view.activity.listing.TrainingsActivity"
            android:label="@string/title_activity_trainings"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.view.activity.listing.ExercisesActivity"
            android:label="@string/title_activity_exercises"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.view.activity.listing.ClientsActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.view.activity.home.HomeActivity" />
        <activity android:name=".ui.view.activity.registration.FirstStepRegistrationActivity" />
        <activity android:name=".ui.view.activity.registration.LoginActivity" />
        <activity android:name=".ui.view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>